<ion-footer class="ion-no-border">
  <!--<ion-toolbar class="ion-text-center footer-main">
      <ion-title><b style="text-decoration: underline;" (click)="openWips()">wisp.mx</b></ion-title>
  </ion-toolbar>-->
  <ion-title class="ion-text-center footer-main"><b style="text-decoration: underline;" (click)="openWips()">wisp.mx</b></ion-title>
</ion-footer>

<style>
  ion-toolbar {
    --opacity: 0;
  }

  ion-title {
    padding-bottom: 10px;
    color: white;
    font-size: medium;
  }
</style>